.button-frame-document{
    margin: var(--spacing-xs) 0;
    padding: 0 var(--spacing-xs);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 1rem;
}

.button-document-page{
    cursor: pointer;
    width: fit-content;
    padding: var(--spacing-xs);
    border-radius: 8px;
    border: 1px solid var(--main-major);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-document-page:hover{
    background-color: var(--main-major);
    color: var(--text-color);
}

.button-document-page span{
    font-size: 14px;   
    font-weight: 600;
}

.button-document-page.active {
    background-color: var(--main-major);
    color: var(--text-color);
}