.container {
  display: flex;
  flex-direction: row;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/* Cấu hình định dạng cho footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* Cấu hình định dạng cho container */
  .container {
    flex-direction: column;
  }

  /* Cấu hình định dạng cho sidebar */
  .sidebar {
    width: 100%;
    height: auto;
  }

  /* Cấu hình định dạng cho main */
  .main {
    width: 100%;
    height: auto;
  }
}